.mybuttons{
    font-weight: bolder;
    height: 150px;
    font-size: 60px;
    margin: 30px 0px;
    text-decoration: none;
}
.myheading{
    text-align: left;
    margin: auto 100px;
    text-decoration: none; 
}
.symptoms{
    width: 200px;
    height: 200px;
}
.symp{
    text-align: center;
}
.imgsymp{
    width:200px;
    text-align: center;
}

.note{
    position: absolute;
    bottom: 0;
    top: 1000px;      
}
.protecty{
    width: 50px;
    height: 50px;
    position: relative;
    left: -70px;
    bottom:-40px;
}
.duas{
    width:1000px;
    height:480px;
}
.duass{
    text-align: center;
}
.duassy{
    font-size: 20px;
    text-align: center;
}
.roundcor{
    border-radius: 5px;
}
